{% extends 'base.html' %}
{% load static %}
{% block title %}О нас{% endblock %}
{% block content %}
    <div class="container">
      <h1 class="text-center">О нас</h1>
        <div class="about-info">
        <section class="section-info" id="first-section">
          <h2>Добро пожаловать на наш сайт рецептов!</h2>
          <p class="card-text">Мы создали это пространство для всех, кто любит готовить, пробовать что-то новое и
            делиться своим кулинарным вдохновением. Здесь вы найдёте сотни проверенных рецептов от простых блюд для
            повседневного обеда до изысканных угощений для особых случаев.</p>
          <p class="card-text">
            Наши рецепты тщательно подобраны и проверены, чтобы вы могли с уверенностью наслаждаться процессом и
            результатом. С нами готовить станет проще, вкуснее и интереснее!
          </p>
        </section>
        <hr>
        <section class="section-info" id="second-section">
          <img src="{% static 'img/frittata.jpg'%}" alt="frittata">
          <div>
          <h2>Откройте мир вкусов и возможностей.</h2>
          <p class="card-text">Наш сайт объединяет кулинаров всех уровней — от новичков до профессионалов. Мы предлагаем
            удобную систему поиска по категориям и ингредиентам, чтобы вы могли легко найти подходящий рецепт под свои
            предпочтения. А пошаговые инструкции и яркие фотографии помогут вам готовить с удовольствием и уверенностью.
            Хотите добавить свои идеи? Вы тоже можете делиться своими рецептами с нашим сообществом!</p>
          </div>
        </section>
        <hr>
        <section class="section-info">
          <h2>Наша миссия — вдохновлять.</h2>
          <p class="card-text">Мы верим, что каждый может стать настоящим мастером кухни. Наша цель — сделать процесс
            приготовления пищи доступным, увлекательным и полезным. С нашими рецептами вы сможете порадовать своих
            близких и открыть для себя новые горизонты кулинарного творчества. Присоединяйтесь к нам и создавайте свою
            историю вкуса вместе с нами!</p>
        </section>
        </div>
      </div>
{% endblock %}
