{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="container">
      <h1 class="text-center">Добро пожаловать на наш сайт рецептов!</h1>
      <p class="text-center">Привет! Мы рады видеть вас здесь. Вы можете ознакомиться с последними добавленными
        рецептами. Или <a class="link-dark" href="{% url 'recipe_list' %}">перейти ко всем рецептам</a>.</p>
      {% for recipe in recipes %}
        <div class="recipe-card" onclick="window.location='{% url 'recipe_detail' recipe.id %}'">
            <img
                class="recipe-img"
                src="{% if recipe.image %}{{ recipe.image.url }}{% else %}/media/recipes/images/default.png{% endif %}"
                alt="{{ recipe.title }}"
            >
            <div class="recipe-info">
                <div class="recipe-categories">
                    {% for category in recipe.categories.all %}
                        <p class="category-tab">{{ category.name }}</p>
                    {% empty %}
                        <p class="category-tab">Нет категорий</p>
                    {% endfor %}
                </div>
                <div class="recipe-title">
                    <h2>{{ recipe.title }}</h2>
                    {% if recipe.author == request.user %}
                    <div class="btn-group">
                        <a href="{% url 'recipe_edit' recipe.id %}"><button class="btn btn-sage"><i class="fa-regular fa-pen-to-square"></i></button></a>
                        <a href="{% url 'recipe_delete' recipe.id %}"><button class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button></a>
                    </div>
                    {% endif %}
                </div>
                <p class="recipe-description">{{ recipe.description|truncatechars:350 }}</p>
            </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}
